.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top:0;
  background-color: white;
  width: 100%;
 
}
.header_logo {
  height: 30px;
  object-fit: contain;
  margin-left: 20px;
}
.header_input {
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.header_icons {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 15px;
}
.header_input > input {
  flex: 1;
  border: none;
  padding: 5px;
}
.headerinputbutton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

@media only screen and (max-width: 750px) {
  .searchinput {
    border: 0;
    width: 0;
    transition: width 0.5s ease-in-out;
  }
  .searchinput.active {
    width: 150px;
  }
  .searchinput:focus {
    outline: none;
  }
  .searchIcon {
    cursor: pointer;
  }
  .header_input {
    border: 0;
  }
}
